<link rel="stylesheet" href="~/css/Partial/Spinner/Spinner.css" />
<div id="Spinner" style="display:none;">
    <div class="cover">
        <div class="spinner">
            <div class="set1">
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
            <div class="set2">
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
</div>