@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Controller/Home/Index/Index.css" />
<!--Index Section Start-->
<div class="overflow-hidden position-relative">

    <!-- Carousel Start -->
    <div class="row">
        <div class="col-lg-12">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class=" w-100" src="~/Images/Home Controller/Index/Music Appliences.jpeg" alt="Music Appliences Img'" style="object-fit: cover;">
                    </div>
                    <div class="carousel-item">
                        <img class=" w-100" src="~/Images/Home Controller/Index/Mobile Accessories.jpeg" alt="Mobile Accessories Img" style="object-fit: cover;">
                    </div>
                    <div class="carousel-item ">
                        <img class="w-100" src="~/Images/Home Controller/Index/Electronics and Accessories.jpeg" alt="Electronics and Accessories Img" style="object-fit: cover;">
                    </div>
                    <div class="carousel-item ">
                        <img class="w-100" src="~/Images/Home Controller/Index/Home Kitchen Accessories.jpeg" alt="Home Kitchen Accessories Img" style="object-fit: cover;">
                    </div>
                    <div class="carousel-item ">
                        <img class="w-100" src="~/Images/Home Controller/Index/Toys and Game.jpeg" alt="Toys and Game Img" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <div class="card-group position-relative card-position" style="z-index:2;">

        <!--Great Deal Secytion start-->
        <div class="row pl-4 pr-4 text-center">
            <!--Shop by Category Card-->
            <div class="col-md-3 col-sm-6 col-12 mt-3 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <h5>Shop by Category</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg btn-block">See All...</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Redefine your living room Card-->
            <div class="col-md-3 col-sm-6 col-12 mt-3 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <h5>Redefine your living room</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg btn-block">See All...</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Top picks for your home Card-->
            <div class="col-md-3 col-sm-6 col-12 mt-3 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <h5>Top picks for your home</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg btn-block">See All...</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Exclusive offers Card-->
            <div class="col-md-3 col-sm-6 col-12 mt-3 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <h5>Exclusive offers</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                            <div class="col-6 mb-4">
                                <img src="~/Images/users/user-3 - Copy.jpg" class="img-thumbnail" />
                                <div>
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg btn-block">See All...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Great Deal Secytion End-->

        
    </div>

    
</div>
<!--Index Section End-->